.card-image {
  height: 18rem;
  object-fit: contain;
}


.cards {
  background-color: #fff;
  opacity: .9;
}

.cards:hover {
  opacity: 1;
  border: 6px solid rgb(10, 70, 77);
}

.paragraph {
  height: 5rem;
  overflow-y: hidden;
}

.cart-icon {
  font-size: 24px;
}

.pointer {
  cursor: pointer;
}

body {
  background-image: url('./images/beach-bg2.jpg');
  background-size: cover;
}

.card-details {
  position: relative;
  align-items: center;
  justify-content: center;
}

/* Small Screen Devices */

@media screen and (max-width: 762px) {
  .back {
    font-size: 20px;
  }

  .cards {
    opacity: 1;
  }
}

/* Large Screen Devices */

@media screen and (min-width: 1200px) {
  .card-details {
    position: relative;
    top: 40%;
  }
}
